.text-flip {
    font-size: 72px;
    text-align: center;
    color: $pewter;
    font-weight: bold;
    text-transform: uppercase;
    padding: 70px 0 20px;

    &__flips {
        height: 120px;
        overflow:hidden;
        
        & > div > div {
            color: $white;
            padding: 12px;
            display: inline-block;
            height: 120px;
            margin-bottom: 20px;
            width: 500px;

            @include mq($sm) {
                width: 330px;
                height: 90px;
                margin-bottom: 15px;
            }
        }

        div {
            animation: flip-text 8s linear infinite;
            &:first-child {

                div {
                    background:$sky;
                }
            }

            &:last-child div {
                background:$red;
            }
        }

        div div {
            background:$green;
        }

        @include mq($sm) {
            height: 90px;
        }
    }

    @include mq($lg) {
        padding: 20px 0;
    }

    @include mq($sm) {
        padding: 0px 0 70px;
        font-size: 45px;
    }
}

@keyframes flip-text {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-140px);

        @include mq($sm) {
            transform: translateY(-100px);
        }
    }

    100% {
        transform: translateY(0);
    }
}