.dashboard {
    padding: 100px 0;
    min-height: 70vh;

    &__title {
        margin-bottom: 50px;
    }

    &__content {
        display: flex;

        @include mq($md) {
            flex-direction: column;
        }
    }

    &__content-list {
        width: 30%;

        @include mq($md) {
            width: 100%;
        }
    }

    &__content-wrapper {
        width: 70%;

        @include mq($md) {
            width: 100%;
            margin-top: 20px;
        }
    }

    &__content-list-item-link {
        font-size: 24px;
        line-height: 1.2;
        position: relative;
        cursor: pointer;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -1px;
            height: 1px;
            width: 0;
            background-color: $black;
            transition: $dur $ease;
        }

        @include hover {
            &::after {
                width: 100%;
                transition: $dur $ease;
            }
        }
    }

    &__content-list-item-link--logout {
        border: none;
        outline: none;

        &::after {
            display: none;
        }
    }

    &__content-list-item {
        margin-bottom: 20px;
        display: block;
        text-align: left;
        transition: $dur $ease;

        &.active {
            color: $green-brand;
            transition: $dur $ease;

            span::after {
                width: 100%;
                background-color: $green-brand;
            }
        }
    }

    @include mq($md) {
        min-height: 70vh;
    }
}