.products {
    overflow: hidden;
    padding: 80px 0 120px;

    &__title {
        margin-bottom: 80px;

        @include mq($sm) {
            margin-bottom: 50px;
        }
    }

    &__top-content {
        display: flex;
        justify-content: space-between;

        @include mq($md) {
            flex-direction: column;
            margin-bottom: 50px;
        }
    }

    &__sorting {
        position: relative;
    }

    &__sorting-list {
        max-height: 0;
        overflow: hidden;
        transition: $dur $ease;
        background-color: $white;
        border-radius: 6px;
        position: absolute;
        width: 100%;
        margin-top: 10px;
        z-index: 1;

        &.open {
            max-height: 500px;
        }

        @include mq($md) {
            max-width: 200px;
        }
    }

    &__sorting-list-item {
        padding: 5px 0;
    }

    &__sorting-list-item,
    &__sorting-label {
        transition: $dur $ease;
        cursor: pointer;

        @include hover {
            color: $green-brand;
            transition: $dur $ease;
        }
    }

    @include mq($sm) {
        padding: 30px 0 60px;
    }
}

.pagination {
    text-align: center;

    &__button,
    &__number {
        margin: 0 5px;
        outline: none;
        border: none;
        border-radius: 50%;
        min-width: 30px;
        width: 30px;
        min-height: 30px;
        background-color: rgba($color: $pewter, $alpha: .7);
        transition: $dur $ease;
        font-size: 15px;
        font-weight: bold;

        @include hover {
            background-color: rgba($color: $pewter, $alpha: 1);
        }

        @include mq($sm) {
            font-size: 13px;
            min-width: 25px;
            width: 25px;
            min-height: 25px;
            margin: 0 2px;
        }
    }

    &__number.active {
        background-color: rgba($color: $green-brand, $alpha: 1.0);
    }

    &__button {
        width: 100px;
        min-width: 100px;
        border-radius: 16px;

        @include mq($sm) {
            width: 70px;
            min-width: 70px;
        }
    }

    &__dots {
        font-size: 20px;
        padding: 0 5px;
    }
}