.filters {
    margin-bottom: 80px;
    border: 1px solid $green-brand;
    padding: 20px 20px 10px;

    &__category,
    &__creator,
    &__recommended {
        margin-bottom: 20px;

        label {
            margin-right: 20px;
        }

        input {
            margin-right: 5px;
        }
    }

    &__title {
        color: $green-brand;
    }

    &__price {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        input[type="number"] {
            width: 100px;
            margin: 0 10px;
        }
    }

    &__content {
        padding-left: 20px;
    }
}