.change-users {
    &__list-item-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__list-button {
        cursor: pointer;
        color: $black;
        font-size: 14px;
        transition: $dur $ease;

        @include hover {
            color: $green-brand;
            transition: $dur $ease;
        }
    }

    &__list-remove {
        margin-right: 15px;
    }

    &__list-item {
        border-bottom: 1px solid $quill-gray;
        padding: 5px 0;
    }

    &__list-item-bottom {
        padding-top: 20px;
    }

    &__list {
        max-height: 400px;
        overflow: auto;
        padding-right: 5px;

        @include scroll-style($pewter);
    }

    .register__radio-wrapper-item {
        display: inline-block;
        margin-right: 20px;
    }
    
    .my-account__form-submit {
        margin: 20px 10px 0 auto;
    }
}