.single-product {
    &__wrapper {
        display: flex;
        padding: 40px 0 20px;

        @include mq($sm) {
            flex-direction: column;
            text-align: center;
            padding: 50px 0 20px;
        }
    }

    &__breadcrumbs {
        padding-top: 80px;

        a {
            transition: $dur $ease;
            color: $black;

            @include hover {
                color: $green-brand;
                transition: $dur $ease;
            }
        }
    }

    &__wrapper-left {
        width: 40%;
        padding-right: 50px;

        @include mq($lg) {
            padding-right: 20px;
        }

        @include mq($sm) {
            padding-right: 0;
            width: 100%;
        }
    }

    &__wrapper-right {
        width: 60%;
        padding-top: 130px;

        @include mq($sm) {
            padding-top: 40px;
            width: 100%;
        }
    }

    &__title {
        margin-bottom: 50px;

        @include mq($sm) {
            margin-bottom: 30px;
        }
    }
    
    &__creator {
        font-size: 25px;
        margin-bottom: 15px;
    }

    &__description {
        font-size: 20px;
        margin-bottom: 15px;
    }

    &__price {
        font-size: 50px;

        @include mq($sm) {
            font-size: 40px;
        }
    }
}