@import '../../scss/config/variables.scss';

.header {
    position: sticky;
    padding: 10px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1818181818);
    top: 0;
    z-index: 999999999;
	background: url('../../assets/images/body.jpg');
	background-repeat: repeat;
	background-size: 100% 100%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.34);

    &__logo-wrapper,
    &__list {
        display: flex;
        align-items: center;
    }

    &__list {
        @include mq($md) {
            width: 160px;
            justify-content: flex-end;
        }

        @include mq($sm) {
            width: 180px;
        }
    }

    &__logo-wrapper {
        justify-content: space-between;
    }

    &__link {
        color: $black;
        font-size: 20px;
        opacity: 1;
        transition: $dur $ease;
        position: relative;

        @include hover {
            opacity: 0.7;
            transition: $dur $ease;
        }

        @include mq($lg) {
            font-size: 18px;
        }
    }

    &__total {
        position: absolute;
        font-size: 14px;
        bottom: -15px;
        right: -20px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $green-brand;
        border-radius: 50%;
        min-width: 30px;
        min-height: 30px;

        @include mq($sm) {
            right: 0;
        }
    }

    &__list-item {
        margin-left: 20px;

        &:first-child {
            margin-left: 0;
        }

        &--my-account {
            @include mq($sm) {
                padding-right: 15px;
            }
        }
    }

    &__logo {
        max-width: 80px;
        transition: $dur $ease;

        @include mq($lg) {
            max-width: 60px;
        }
    }

    &__cart-icon {
        width: 25px;
        transform: translateY(5px);

        @include mq($sm) {
            transform: translateX(-20px) translateY(5px);
        }
    }

    @include mq($lg) {
        padding: 8px 0;
    }
}

.welcome {
    @include mq($md) {
        transform: translateX(30px);
    }
}