.register {
    padding: 140px 0;

    &__form-submit {
        margin-top: 30px;
    }

    @include mq($sm) {
        padding: 70px 0;
    }
}

.register__radio-wrapper {
    text-align: left;

    p {
        margin-bottom: 10px;
    }
}

.register__radio-wrapper-item {

    input {
        margin-right: 10px;
    }
}